/*|============================
  | Додавання & Віднімання
  |============================
*/
.box {
  width: 600px + 20px;
  
  width: calc(600p - 50%);
}
/*|============================
  | Множення & Ділення
  |============================
*/
$value: 600px;
.box {
  width: 600px * 2;
  width: 600px * 2 + 50px;
  width: (600px + 50px) * 2;

  // ділення 3 випадки

  width: $value / 5; // 1.значенння зберігається в зміннійб н-д '$value' : 600px'
  width: (600px / 5); // вираз в дужках 
  width: 600px / 5px + 10px ; // коли значення викор-ся як частина іншого виразу

  @debug (600px / 5px); // 120

   @debug (120 + 10px); // 130px 

}
/*|============================
  | Інтерполяція
  |============================
*/

$name: "box";
$margin: 100px;

.box {
  margin: $margin * 2;
  margin: calc(#{$margin} * 2 )
  
}
