/*|============================
  | Додавання & Віднімання
  |============================
*/
.box {
  // width: 600px + 30%; // несумісні типи

  
  width: calc(600px - 50%);
}
/*|============================
  | Множення & Ділення
  |============================
*/
$value: 600px;
.box {
  width: 600px * 2;
  width: 600px * 2 + 50px;
  width: (600px + 50px) * 2;

  // ділення 3 випадки

  width: $value / 5; // 1.значенння зберігається в зміннійб н-д '$value' : 600px'
  width: (600px / 5); // вираз в дужках 
  width: 600px / 5px + 10px ; // коли значення викор-ся як частина іншого виразу

  @debug (600px / 5px); // 120

   @debug (120 + 10px); // 130px 

}
/*|============================
  | Інтерполяція
  |============================
*/

$name: "box";
$margin: 100px;

.box {
  margin: $margin * 2;
  margin: calc(#{$margin} * 2 );
  margin: calc(#{$margin} / 2);
  
}

/*|============================
  | Examples
  |============================
*/

.#{$name} {
  margin: $margin;

}
// під час компіляції отримаємо (див. index.css), тобто символ інтерполяції # дістав зі змінної $name рядок box, і підставиви його замість даної змінної

//======================LMS= Інтерполяція=====================//



@each $animal in dog, cat, bird, turtle, dolphin, ape, fox {
  .#{$animal}-icon {
    background-image: url("../images/#{$animal}.png");
  }
}

