/*my code*/

@use "btn-scema" as vars;

.small-btn {
  font-size: vars.$font-size;
  color: vars.$btn-color;
  background-color: vars.$btn-bgcolor;
}

//____________________________________________//

// @use "sass:math";
// @use "btn-scema" as vars with (
//   $font-size: 10px,
//   $btn-color: black,
//   $btn-bgcolor: lightblue
// );

// @debug math.$pi;
