/*my code*/
//______________________________________

// $color-primary-text: #888; // kebab-case ✅ (РЕКОМЕНДОВАНО)
// $color-blue-text: lightblue; // kebab-case ✅ (РЕКОМЕНДОВАНО)

// $color_primary_text: #888; // snake_case ⚠️ (рідко)
// $color_blue_text: lightblue; // snake_case ⚠️ (рідко)

// $colorPrimaryText: #888; // camelCase ❌ (НЕ рекомендується)
// $colorBlueText: lightblue; // camelCase ❌ (НЕ рекомендується)

$font-size: 16px;

.title {
  font-size: $font-size;
}

$font-size: 10px;

.subtitle {
  font-size: $font-size;
}
